.buttons__container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 0;
    margin-bottom: 50px;
    padding-left: 0;
}

.button__item {
    margin: 4px;
    border: 0;
    padding: 6px 24px;
    border-radius: 4px;
    font-size: 16px;
    line-height: 1.6;
    font-weight: 500;
    cursor: pointer;
    background: #e5e5e5;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.cards__container {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    margin: 0;
    padding: 0;
}

.card__product {
    flex-basis: calc((100% - 54px) / 3);
    background-color: #ffffff;
    border-radius: 0px 0px 4px 4px;
    overflow: hidden;
    border: 1px solid #eeeeee;
    box-shadow: 1px 4px 6px 0px #00000029;
    box-shadow: 0px 4px 4px 0px #0000000f;
    box-shadow: 0px 1px 1px 0px #0000001f;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card__information {
    padding-top: 20px;
    color: $font-one-color;
}

.overlay__box {
    position: relative;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 150, 243, 0.9);
    transform: translatey(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay__description {
    color: #fff;
    padding: 10px;
    margin: 0;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: $default-space;
    padding: 63px 24px;
}

.card__description--product-name {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    margin: 0;
    padding-left: 24px;
    padding-right: 24px;
}

.card__description--product-type {
    font-size: 16px;
    font-weight: 400;
    line-height: 2.5;
    margin: 0;
    padding-left: 24px;
    padding-bottom: 20px;
    color: #757575;
}

.card__product:hover .overlay {
    transform: translatey(0);
}

.button__item:hover,
.button__item:focus {
    color: $font-three-color;
    background-color: $brand-color;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
        0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

.card__product:hover,
.card__products:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
}