.tittle-format__one {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: $default-space;
    padding-bottom: 50px;
}

.img-container {
    display: flex;
    gap: 23px;
    padding: 0;
}

.img-positioning {
    position: relative;
}

.img-box {
    width: 372px;
    height: 73px;
    background: rgba(47, 48, 58, 0.8);
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: $default-space;
    text-transform: uppercase;
    color: $font-three-color;
    padding-top: 27px;
    padding-bottom: 27px;
    top: 250px;
    position: absolute;
}